<div id="close-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Accept Delivery</h3>
      </div>
      <div class="modal-body">
        {{!-- handle how to iterate through items --}}
        <div id="reimbursement">
            <p>Below is a summary of your delivery for {{requester.username}}:</p>
            <p>Total Tips: {{totalTips}}</p>
        </div>
        <br>
        {{> rating}}
        {{!-- add button event handler --}}
        <button id='deliver-confirm-button' class='btn btn-primary'>Pay & Rate</button>
      </div>     
    </div>
  </div>
</div>