<div id="deliver-now-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Deliver Now</h4>
      </div>
      <div class="modal-body">
      {{!-- TODO: need to use forEach PUT ajax call on /:id/deliver --}}
        <table>
          <thead>
            <tr>
              {{!-- given --}}
              <th>Requester</th>
              <th>Item</th>
              <th>Pickup Point</th>
              {{!-- to be filled out --}}
              <th>Pickup Time</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {{!-- use js to populate with selected requests --}}
          </tbody>
        </table>
        {{!-- add button event handler --}}
        <input type="submit" id='deliver-confirm-button' class='btn btn-primary btn-sm' value="CONFIRM">
      </div>     
    </div>
  </div>
</div>
