<!-- Author: Joseph Kuan-->
<div class="row">
  <strong class="col-sm-1">Filter by:</strong>
  <div class="col-sm-2">Store&nbsp;
    <select multiple id='filter-stores' name='filter-stores' class="selectpicker" data-none-selected-text="Any store" data-width="100%">
      {{#each allStores}}
      <option {{#ifContains ../previousStores this}}selected{{/ifContains}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-2">Pickup Location&nbsp;
    <select multiple id='filter-pickup-location' name='filter-pickup' class="selectpicker" data-none-selected-text="Any location" data-width="100%">
      {{#each allPickupLocations}}
      <option {{#ifContains ../previousPickupLocations this}}selected{{/ifContains}}>{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-1">Minimum Rating&nbsp;
    <select id='filter-rating' name='filter-rating' class="selectpicker" data-width="auto">
      <option {{#ifContains previousMinRating 1}}selected{{/ifContains}}>Any</option>
      <option {{#ifContains previousMinRating 6}}selected{{/ifContains}}>6</option>
      <option {{#ifContains previousMinRating 4}}selected{{/ifContains}}>4</option>
      <option {{#ifContains previousMinRating 3}}selected{{/ifContains}}>3</option>
      <option {{#ifContains previousMinRating 2}}selected{{/ifContains}}>2</option>
    </select>
  </div>
  <strong class="col-sm-1 col-sm-offset-1">Sort by:</strong>
  <div class="col-sm-2">
    <select id='sort-by' class="form-control">
      <option value='tips' {{#ifContains previousSortBy "tips"}}selected{{/ifContains}}>Tip</option>
      <option value='deadline'{{#ifContains previousSortBy "deadline"}}selected{{/ifContains}}>Due date</option>
    </select>
    <form id="sort-direction">
      <div class="radio">
        <label class="radio"><input type="radio" name="sort" value="1" {{#ifContains previousSortIncreasing 1}}checked{{/ifContains}}>Sort increasing</label>
      </div>
      <div class="radio">
        <label class="radio"><input type="radio" name="sort" value="-1"{{#ifContains previousSortIncreasing -1}}checked{{/ifContains}}>Sort decreasing</label>
      </div>
    </form>
  </div>
  <div class="col-sm-2">
    <button id='filter-sort' class='filter-sort btn btn-primary'>Refine search</button>
  </div>
</div>
