<div id='login-container'>
  <div class="login-warning">
    {{message}}
  </div>
  <form id='login-form' action='/login' method='post' onsubmit="return checkLogInForm()">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id='kerberos-box' type='text' name='username' placeholder='kerberos' required autofocus></input><br>
    <input id='password-box' type='password' name='password' placeholder='password' required></input><br>
    <input type="submit" id='login-button' class='btn btn-primary btn-sm' value="LOG IN">
    <input type="button" class='btn btn-info btn-sm' data-toggle="modal" data-target="#register-modal" value='SIGN UP'></input>
  </form>
  <div id="register-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form id='register-form' action='/signup' method='post' onsubmit="return checkSignUpForm()">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input id='kerberos-register-box' type='text' name='requestedKerberos' placeholder='kerberos' required></input><br>
            <input id='password-register-box' type='password' name='requestedPassword' placeholder='password' required></input><br>
            <input id='confirm-password-register-box' type='password' name='confirmPassword' placeholder='confirm password' required></input><br>
            <input id='phone-number-register-box' type='text' name='requestedPhoneNumber' placeholder='phone number' required></input><br>
            <select name='dorm'>
              {{#each allDorms}}
              <option>{{this}}</option>
              {{/each}}
            </select><br>
            <input type="submit" id='register-button' class='btn btn-primary btn-sm' value="SIGN UP & CONNECT WITH STRIPE">
          </form>
        </div>     
      </div>
    </div>
  </div>
</div>