{{!-- Author: Cheahuychou Mao --}}

{{#each requestItems}}
{{#if shopper}}
<div id="reject-modal-{{_id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Reject Delivery</h3>
      </div>
      <div class="modal-body">
        <div class="modal-messages"></div>
        <div id="rejection">
            <p>Reason for rejection:</p>
            <select id='reason' class="form-control">
                <option>The deliverer did not show up.</option>
                {{#if pickupTime}}
                <option>The delivered item is not what I requested for.</option>
                <option>The delivered item is not in good condition.</option>
                {{/if}}
                <option>I don't need the item anymore.</option>
            </select>
        </div>
        <br>
        {{> rating isRequest=true}}
        <button class='reject-rate-button btn btn-primary'>Rate</button>
      </div>     
    </div>
  </div>
</div>
{{/if}}
{{/each}}
