<div id="request-form-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price Estimate</th>
        <th>Due</th>
        <th>Pickup Point</th>
        <th>Tip</th>
      </tr>
    </thead>
    <tbody>
      {{> request_item_form n='1'}}
    </tbody>
  </table>
  {{!-- TODO: add listener to add item button click --}}
  <button id='add-item' class='btn btn-default btn-sm'>Add More</button><br>
  <button type='submit' id='make-request' class='btn btn-primary' style='float: right'>Make Request</button>
</div>