{{!-- Author: Czarina Lao --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/datatables.min.css" integrity="sha384-gHbKBkWnyKF5BQqVNnJq52oqcVLfZMydTT8MvnlDxRdvTYoSu55Eo9/Mc923+Qhf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" integrity="sha384-QDtoNn3d03JcCGVqmy4866cNg1t0mFPfjeOqewMF6jhwLT93qMOJS8RnwxYgWOtN" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/bootstrap-480-767-grid.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css" integrity="sha384-ObE+ehRshGuMJ3N47RvNz2kEAWkHvWdZvPtU8pn/MoY9AXPhwksQiaVjB17fWwqn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.4/flatpickr.min.css" integrity="sha384-U8r/VNTJQVA2j/MmmBwXYTFp6uFHwbkiECOOJHCbEKyRWcpv0/Q6W+m2WJalKQ3l" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/rating.css">
  <link rel="stylesheet" href="/stylesheets/modal.css">
  <link rel="stylesheet" href="/stylesheets/flatpickr_add.css">


  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/datatables.min.js" integrity="sha384-uAgHwxPapFdlDX8NygMUVuDh4uHVkVYwqZM+9cem01XxAJC5LDx2oRpF0Tav/TiY" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" integrity="sha384-OzJdDv654hax+usN0gaTeDPTkzSbqoFB4ktJVOH0OjXxbwYHS7UPyk1d80c0nabG" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.2.4/flatpickr.min.js" integrity="sha384-0hQ2+/oPL66RSA5xj7fppPgJ/v3kEwVX8rHWhttbYRPdS0hJiJ55RICBX7BXpL66" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js" integrity="sha384-8SI662MiMZn6eppgHSTHOne5FhCD3QYAv8U9DPvf5PhVa4F/zPm6jxrhJSNcc0SJ" crossorigin="anonymous"></script>
  
  <script src='/javascripts/index.js'></script>
  <script src='/javascripts/navbar.js'></script>
</head>

<body>
  <div class="body-content">
    <!-- Bootstrap responsive navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            {{#fullName}}
            <!-- for when the navbar collapses when the window is small -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- the icon that appears (3 bars) -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{/fullName}}
            <a href="/" class="navbar-brand"><img class='navbar-logo' src='/images/icon.png'/>GroceryShip</a>
        </div>
        <div class="navbar-collapse collapse">
        {{#fullName}}
          {{> navbar_logged_in ../this}}
        {{/fullName}}
        </div>
      </div>
    </div>

    <div id="main-content">
      <div id='messages'></div>
      {{{body}}}
    </div>
  </div>
</body>
</html>
