{{!-- Author: Czarina Lao --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='/javascripts/dashboard.js'></script>
<script src='/javascripts/rating.js'></script>

<h1>{{title}}</h1>
<div class='instructions'>
  <p>View and keep track of your requests and deliveries on the dashboard. Under 'Your Requests' you can view all current grocery requests you have made, and also cancel any unclaimed requests. Under 'To Deliver' you can view all the grocery requests you have claimed, and click on 'Deliver Now' to enter the price information and pickup time. Once a delivery has been scheduled, they will appear under your notifications, where you can proceed to take further action.</p>
</div>
<div id='notifications'>
	<h3>Notifications</h3>
  {{> notifications}}
	{{> accept}}
	{{> reject}}
	{{> close}}
</div>
<div id='request'>
	<h3>Your Requests</h3>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> requests_table own=true}}
</div>
<div id='deliver'>
	<h3>To Deliver</h3>
  <p>Remember to contact the requester to set a pickup time!</p>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> deliveries_table}}
</div>
{{#each requestItems}}
{{> contact_information user=shopper}}
{{/each}}
{{#each deliveryItems}}
{{> contact_information user=requester}}
{{/each}}
