{{!-- Author: Czarina Lao --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='/javascripts/dashboard.js'></script>
<script src='/javascripts/rating.js'></script>

<h1>{{title}}</h1>
<div id='notifications'>
	<h3>Notifications</h3>
	<button id='accept-notification-items' class='btn btn-primary' data-toggle="modal" data-target='#accept-modal' style='float: right'>Accept</button>
	<button id='reject-notification-items' class='btn btn-primary' data-toggle="modal" data-target='#reject-modal' style='float: right'>Reject</button>
	<button id='close-notification-items' class='btn btn-primary' data-toggle="modal" data-target='#close-modal' style='float: right'>Close Delivery</button>
	{{> accept}}
	{{> reject}}
	{{> close}}
</div>
<div id='request'>
	<h3>Your Requests</h3>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> requests_table own=true}}
</div>
<div id='deliver'>
	<h3>To Deliver</h3>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> deliveries_table}}
</div>