<h1>{{title}}</h1>
<form action='/logout' method='post'>
	<input type="submit" id='logout-button' class='btn btn-primary btn-sm' value="LOG OUT">
</form>
<div id='notifications'>
	<h3>Notifications</h3>
</div>
<div id='request'>
	<h3>Your Requests</h3>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> requests_table requestItems}}
</div>
<div id='deliver'>
	<h3>To Deliver</h3>
  {{!-- TODO: what if table is empty, i.e. no items --}}
  {{> deliveries_table deliveryItems}}
</div>