{{!-- Author: Czarina Lao --}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='/javascripts/dashboard.js'></script>
<script src='/javascripts/rating.js'></script>
<script src='/javascripts/user_info.js'></script>

<h1>{{title}}</h1>
<div class='instructions'>
{{!--   <p>View and keep track of your requests and deliveries on the dashboard.<br>
  Under 'Your Requests' you can view all current grocery requests you have made, and also cancel any unclaimed requests.<br>
  Under 'To Deliver' you can view all the grocery requests you have claimed, and click on 'Deliver Now' to enter the price information and pickup time. Once a delivery has been scheduled, they will appear under your notifications, where you can proceed to take further action.</p> --}}
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>

<div id='notifications'>
  <span class='title-toggle' id='notifications-toggle' data-toggle="collapse" data-target="#dashboard-notifications"><h3>Notifications  <span class="glyphicon glyphicon-chevron-down" id="requests-chevron-toggle"></span></h3></span>
  <div id='dashboard-notifications' class='collapse in'>
  {{> notifications}}
	{{> accept}}
	{{> reject}}
	{{> close}}
  </div>
</div>

<div id='request'>
	<span class='title-toggle' id='requests-toggle' data-toggle="collapse" data-target="#dashboard-requests"><h3>Your Requests  <span class="glyphicon glyphicon-chevron-right" id="requests-chevron-toggle"></span></h3></span>
  <div id='dashboard-requests' class='collapse'>
    {{> requests own=true}}
  </div>
</div>

<div id='deliver'>
	<span class='title-toggle' id='deliver-toggle' data-toggle="collapse" data-target="#dashboard-deliver"><h3>To Deliver  <span class="glyphicon glyphicon-chevron-right" id="requests-chevron-toggle"></span></h3></span>
  <div id='dashboard-deliver' class='collapse'>
    <p>Remember to contact the requester first to set a pickup time!</p>
    {{> deliveries_table}}
  </div>
</div>

{{#each requestItems}}
  {{> contact_information user=shopper}}
{{/each}}
{{#each deliveryItems}}
  {{> contact_information user=requester}}
{{/each}}
