<script src='/javascripts/deliver.js'></script>
<h1>{{title}}</h1>
<div class='instructions'>
  <p>Help others to deliver grocery by claiming their requests! Note that you CANNOT unclaim a request after clicking 'claim'.</p>
</div>
<div id='request-filters'>
</div>
<div id='request-feed'>
  {{> requests_table}}
</div>