<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id='about'>
  <div class='feature'>
    <img src="/images/cart.png"></img>Request for a peer grocery delivery
  </div>
  <div class='feature'>
    <img src="/images/checklist.png"></img>Deliver for others to earn pocket money
  </div>
  <div class='feature'>
    <img src="/images/wallet.png"></img>Pay using TechCash
  </div>
</div>
{{>login_register}}
