<!-- Author: Joseph Kuan -->
<h1>{{title}}</h1>
<div class='instructions'>
	<div class="well well-lg no-notif-message">Your account has been suspended from making deliveries until <strong>{{suspendedUntil}}</strong> because your shipping rating is too low. You can still make requests for groceries, however.</div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>
