/* Author: Czarina Lao */

.badge {
    margin-bottom: 23px;
}

#dashboard-notifications {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#dashboard-requests {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.title-toggle:hover {
    color: #1abc9c;
}

.title-toggle .glyphicon {
    font-size: 80%;
}
