/* Author: Czarina Lao */
/* Styling for components in the home page */

.welcome-container {
    padding-top: 5%;
}

/* for the listed features */
.feature {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.feature img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    float: left;
}

.feature-img-text {
    margin-top: 20px;
    margin-left: 90px;
    display: block;
}

/* login */
#login-content {
    float: right;
}

.login-column {
    margin-top: 20px;
}

/* signup */
.signup-input {
    margin-bottom: 10px;
}

#register-button {
    margin: 5px 10px 0 0;
}
