/* Author: Czarina Lao */
a {
  color: #00B7FF;
}

.navbar-logo {
    width: 30px;
    display: inline !important;
    margin-top: -5px;
    margin-right: 5px;
}

.right-space {
  margin-right:15px;
}


#about {
	float: left;
}


.fa-star-o, .fa-star {
  font-size: 150% !important;
  color:  #FFD700;
}

#main-content {
    margin-top: 20px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.instructions > p {
    font-size: 15px;
    max-width: 60em;
    text-align: justify;
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    /* flatpickr calendar display of year overlaps for small devices */
    .flatpickr-current-month > .numInputWrapper {
        display: none !important;
    }
    #sort-direction {
        margin-top: 0px;
    }

    #sort-direction .radio {
        padding-left: 10px;
    }

    body {
      padding: 40px 10%;
    }

    .modal-messages, #messages {
        left: 2%;
        max-width: 50%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    /* flatpickr calendar display of year overlaps for small devices */
    .flatpickr-current-month > .numInputWrapper {
        display: none !important;
    }
    #sort-direction {
        margin-top: 0px;
    }

    #sort-direction .radio {
        padding-left: 10px;
    }

    body {
      padding: 40px 10%;
    }

    .modal-messages, #messages {
        left: 2%;
        max-width: 25%;
    }
}
@media screen and (min-width: 768px) {
    #sort-direction {
        margin-top: -35px;
    }

    #sort-direction .radio {
        padding-left: 5px;
    }

    #filter-sort {
        float: right;
    }

    body {
      padding: 70px 80px;
    }

    .profile-table-container {
        padding-right: 20%;
    }

    .modal-dialog-wide {
        width: 750px;
    }

    .modal-messages, #messages {
        left: 2%;
        max-width: 25%;
    }
}
@media screen and (min-width: 992px) {
    body {
      padding: 70px 120px;
    }

    #request-form-container {
        padding-right: 10%;
    }
    .profile-table-container {
        padding-right: 30%;
    }

    .modal-dialog-wide {
        width: 850px;
    }

    .modal-messages, #messages {
        left: 2%;
        max-width: 25%;
    }
}



.modal-body table {
/*    table-layout: fixed;
    word-wrap: break-word;*/
    vertical-align: middle;
}


#make-request {
    margin-bottom: 40px;
}

#xs-sort-by, #request-feed {
    margin-top: 15px;
}

/* Remove styling for readonly because flatpickr form-control is readonly */
.form-control[readonly] {
    background-color: initial;
    color: initial;
    /* border-color of usual input form control in flat-ui */
    border-color: 2px solid #bdc3c7;
    cursor: pointer;
    opacity: 1;
}

.flatpickr-month, .flatpickr-weekdays {
    background-color: #1abc9c;
}

td.item-name, td.item-description {
    word-wrap: break-word;
    word-break: break-all;
}

td.set-pickup-item {
    word-wrap: break-word;
    word-break: break-all;
}

td.deadline, td.pickup-time {
    /* make sure that date won't break between month and day */
    min-width: 95px;
}

#set-pickup-modal .pickup-time {
    /* make input box big enough for whole date */
    width: 190px;
}

#set-pickup-modal th.price {
    /* temporary fix for price column size so that it's not too small */
    width: 100px;
}

.cost-summary, .card-input {
    padding-left: 8%;
}

.card-input .form-group {
    margin-bottom: 10px;
}

.card-input .col-expiry-month {
    padding-right: 0;
}

.modal-body {
    padding: 20px;
}

#request-table > table {
    /*table-layout: fixed;*/
}

#request-table th {
/*    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}



#change-password-button, #edit-confirm-button {
    margin-right: 15px;
}

/* https://www.sitepoint.com/five-ways-to-hide-elements-in-css/ */
.hide-from-view {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.modal-messages, #messages {
    position: fixed;
    bottom: 0;
    z-index: 1050;
}
