body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.feature img {
	width: 80px;
	height: 80px;
}

#about {
	float: left;
}

#login-content {
	float: right;
}
