body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.notification-icon img {
  height: 20px;
  display: block;
  margin: auto;
}

.feature img {
	width: 80px;
	height: 80px;
}

.right-space {
  margin-right:15px;
}

#about {
	float: left;
}

#login-content {
	float: right;
}

.fa-star-o, .fa-star {
  color:  #FFD700;
}

#main-content {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
      width: 750px; /* New width for default modal */
    }
    .modal-sm {
      width: 550px; /* New width for small modal */
    }
}
@media screen and (min-width: 992px) {
    .modal-lg {
      width: 950px; /* New width for large modal */
    }
}
